.site-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.logo {
  @media screen and (min-width: 480px) {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-top: 16px;
    padding-bottom: 16px;
    color: $title-text-color;
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}
.colortext {
  color: $accent-color;
}

.menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-nav {
  display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: auto;
  }
}
.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    text-align: center;
    gap: 50px;
  }
}

.site-nav .link {
  @media screen and (min-width: 768px) {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color $animation;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.site-nav .link.current {
  @media screen and (min-width: 768px) {
    color: $accent-color;
  }
}

.link.current::after {
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
  }
}

.adress-list {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
  }
}

.adress-list .link {
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $primery-text-color;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
    color: $primery-text-color;
    font-size: 14px;
    line-height: 1.14;

    transition: color $animation;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.adress-list-item {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}
.adress-list-item:last-child {
  @media screen and (max-width: 1199px) {
    margin-bottom: 0;
  }
}
.phone-svg {
  @media screen and (min-width: 768px) {
    fill: currentColor;
    margin-right: 10px;
    transition: fill $animation;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}
.mail-svg {
  @media screen and (min-width: 768px) {
    fill: currentColor;
    margin-right: 10px;
    transition: fill $animation;
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}
